*{
    
    margin: 0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
    

}
.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(rgb(120, 185, 211),rgb(72, 72, 251));
    color: #fff;
    margin:100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;

}
.search input{
    border: 2px solid grey;
    outline:0;
    background-color: #ffffff;
    color:#615e5e;
    padding:15px;
    height:60px;
    border-radius: 30px;
    flex:1;
    margin-right:16px;
    font-size: 18px;
}
.search button{
    height:60px;
    width:60px;
    border-radius: 50%;
    border: 2px solid grey;
    outline:0;
    background-color: #ffffff;
    cursor:pointer;
}
.search button img{
    width:17px;
}
.weathericon{
    width:170px;
    margin-top:20px;

}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    
    font-size: 35px;
    font-weight: 400;
    margin-top: -10px;;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:40px;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size:28px;
    margin-top:-6px;
}

.weather{
    display:none;
}

.error{
    text-align: left;
    margin-left:10px;
    font-size:14px;
    margin-top: 10px;
    display:none;
}
#title{
    text-align: center;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}