body{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 215, 75);
}

#overall{
    height:400px;
    width:300px;
    border:2px solid black;
    margin:  150px 0px 0px 560px;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 50px;
    padding-top: 20px;
    

   
}
#overall div, #overall h2 {
    display:flex;
    justify-content: center;
}
input{
    border-radius: 5px;
    border: 2px solid black ;
    margin-top:40px;
    height:3em;
    width:250px;
    padding-left:10px;
}
input:active{
    background-color: bisque;
    border:none;
   
}
button{
    margin-top:50px;
    height:40px;
    width:7em;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
}
button:hover{
    background-color: greenyellow;
}
#res{
    margin-top:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: 30px;
}
#title{
    font-size: 34px;
   

}
